{% set action = action is defined ? action : null %}
<tr id="note_{{ object.id }}" class='{{ action ? ' action-' ~ action }}'>
	{% if bulkRemoveAllowed is defined and bulkRemoveAllowed %}
		<td>
			<input type="checkbox" data-model="bulkSelectIds[]" value="{{ object.id }}" {{ object.id in this.bulkSelectIds ? 'checked' }} class="toggle toggle-primary mr-2 select-all"/>
		</td>
	{% else %}
		<td></td>
	{% endif %}
	<td class="px-6 py-3">
		<div class="flex gap-2">
			{% if action != 'remove' %}
				<a class="btn btn-sm btn-outline" href="{{ path('app_admin_note_edit', {'id': object.id}) }}">
					<i class="i-tabler-edit text-lg"></i>
				</a>
				{% if action == null %}
					<form data-action="live#action" data-live-action-param="remove" data-live-entity-ids-param="[{{ object.id }}]" data-live-object-name-param="Note">
						{% set modalId = 'delete-modal-' ~ object.id %}
						<button type='button' class="btn btn-sm btn-error btn-outline" data-controller="modal" data-modal-target-modal-value="{{ modalId }}">
							<i class="i-tabler-trash text-lg"></i>
						</button>
						{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: modalId, objectName: "Note"|trans} %}
					</form>
				{% endif %}
			{% endif %}
		</div>
	</td>
	<td class="px-6 py-3">{{ object.id }}</td>
	<td class="px-6 py-3">{{ object.title }}</td>
	<td class="px-6 py-3">
		{% if object.isPinned %}
			<span class="badge badge-warning">
				<i class="i-tabler-pin"></i>
				{% trans %}Pinned{% endtrans %}
			</span>
		{% else %}
			<span class="badge badge-ghost">
				-
			</span>
		{% endif %}
	</td>
	<td class="px-6 py-3">{{ object.createdAt|date('d M Y H:i') }}</td>
	<td class="px-6 py-3">{{ object.updatedAt|date('d M Y H:i') }}</td>
</tr>
